* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white-bg-clr: hsl(0, 0%, 100%);
  --yellow-bg-clr: hsl(47, 88%, 63%);
  --light-gray-clr: hsl(0, 0%, 42%);
  --dark-gray-clr: hsl(0, 0%, 7%);
  --font-weight-bold: 800;
  --font-weight-medium: 500;
}

@font-face {
  font-family: figTree;
  src: url('./assets/fonts/Figtree-VariableFont_wght.ttf');
}

html,
body {
  font-family: 'figTree', sans-serif;
}

body {
  background-color: var(--yellow-bg-clr);
}

body,
.wrapper {
  height: 100vh;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}

.container {
  max-width: 100%;
}

.card {
  background-color: var(--white-bg-clr);
  border: 1px solid var(--dark-gray-clr);
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem var(--dark-gray-clr);
  padding: clamp(0.9rem, 1.25rem, 1.5rem);
  max-width: 380px;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 1.15rem;
}

.card-img {
  border-radius: 0.65rem;
}

.card-tag {
  background-color: var(--yellow-bg-clr);
  border-radius: 0.35rem;
  font-size: 0.85rem;
  font-weight: var(--font-weight-bold);
  padding: 0.45rem 0.65rem;
  width: max-content;
}

.card-tag,
.card-date {
  color: var(--dark-gray-clr);
}

.card-tag,
.card-date,
.author-info > p {
  font-size: 0.85rem;
}

.card-date {
  font-weight: var(--font-weight-medium);
}

.card-title a {
  color: var(--dark-gray-clr);
  font-weight: var(--font-weight-bold);
  text-decoration: none;
}

.card-title a:hover,
.card-title a:focus {
  color: var(--yellow-bg-clr);
}

.card-description {
  color: var(--light-gray-clr);
  line-height: 1.5;
}

.author-info {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.author-info > img {
  width: 32px;
}

.author-info > p {
  color: var(--dark-gray-clr);
  font-weight: var(--font-weight-bold);
}
